# Dependencies
node_modules/
.pnpm-store/

# Environment
.env
.env.local
.env*.local

# Next.js
.next/
out/

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.vercel
